<mat-drawer-container>
  <mat-drawer mode="side" opened id="toolbar"> </mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <mat-card-header> Calendario: {{ selectedMounth }} </mat-card-header>
      <mat-card-content class="calendar">
        <mat-form-field appearance="fill">
          <mat-label>Mês:</mat-label>
          <mat-select
            [(value)]="selectedMounth"
            (selectionChange)="selectMonth()"
          >
            <mat-option>--</mat-option>
            <mat-option *ngFor="let mes of monthFilters" [value]="mes">
              {{ mes }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
          id="calendar"
        >
          <ng-container matColumnDef="Dom">
            <th mat-header-cell *matHeaderCellDef>Dom</th>
            <td
              mat-cell
              *matCellDef="let element"
              matBadge="{{ countNumberEvents(element.Dom) }}"
              (click)="obterEvento(element.Dom)"
            >
              {{ element.Dom }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Seg">
            <th mat-header-cell *matHeaderCellDef>Seg</th>
            <td
              mat-cell
              *matCellDef="let element"
              matBadge="{{ countNumberEvents(element.Seg) }}"
              (click)="obterEvento(element.Seg)"
            >
              {{ element.Seg }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Ter">
            <th mat-header-cell *matHeaderCellDef>Ter</th>
            <td
              mat-cell
              *matCellDef="let element"
              matBadge="{{ countNumberEvents(element.Ter) }}"
              (click)="obterEvento(element.Ter)"
            >
              {{ element.Ter }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Qua">
            <th mat-header-cell *matHeaderCellDef>Qua</th>
            <td
              mat-cell
              *matCellDef="let element"
              matBadge="{{ countNumberEvents(element.Qua) }}"
              (click)="obterEvento(element.Qua)"
            >
              {{ element.Qua }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Qui">
            <th mat-header-cell *matHeaderCellDef>Qui</th>
            <td
              mat-cell
              *matCellDef="let element"
              matBadge="{{ countNumberEvents(element.Qui) }}"
              (click)="obterEvento(element.Qui)"
            >
              {{ element.Qui }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Sex">
            <th mat-header-cell *matHeaderCellDef>Sex</th>
            <td
              mat-cell
              *matCellDef="let element"
              matBadge="{{ countNumberEvents(element.Sex) }}"
              (click)="obterEvento(element.Sex)"
            >
              {{ element.Sex }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Sab">
            <th mat-header-cell *matHeaderCellDef>Sab</th>
            <td
              mat-cell
              *matCellDef="let element"
              matBadge="{{ countNumberEvents(element.Sab) }}"
              (click)="obterEvento(element.Sab)"
            >
              {{ element.Sab }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
